/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Inter", sans-serif;
  color: #343a40;
  background-color: #ffa8a8;
}

span,
input {
  max-width: 180px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 96px auto 0;
  padding: 0 24px;
}

.toppings {
  list-style: none;
  width: 100%;
  background-color: #c92a2a;
  border-radius: 9px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.topping {
  margin-bottom: 16px;
  display: flex;
}

.topping-text {
  margin-right: auto;
  margin-left: 48px;
  overflow-wrap: break-word;
}

.topping-btns {
  margin-right: 48px;
}

.hidden {
  display: none;
}

.create-btn {
  display: block;
  margin: 48px auto 0;
}

.new-pizza-container {
  margin: 24px 0;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-pizza {
  list-style: none;
}

.pizza-tiles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}

.pizza-tile {
  background-color: #adb5bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-radius: 9px;
}

.pizza-name {
  font-size: 30px;
  margin-bottom: 12px;
}

.pizza-toppings {
  margin-bottom: 8px;
  text-decoration: underline;
}

.toppings-list {
  list-style: none;
}

.pizza-tile-edit-btn {
  align-self: flex-end;
  border-top-right-radius: 9px;
}
